@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Unbounded:wght@200..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to bottom,#5409DA, #4E71FF, #8DD8FF, #BBFBFF);
}

/* Navbar styling */

.nav-content{
    width: 100%;
    position: fixed;
}

.nav-content ul{
    justify-content: space-between;
    display: flex;
}
ul .logo{
    font-family:  "Unbounded", sans-serif;
    color: 	#f9f9ff;
}

.content{
    display: flex;
    font-family: "Poppins", sans-serif;
}

.nav-content ul li{
    padding: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.nav-content ul li a{
    color: 	#f9f9ff;
}

li a, ul li{
    text-decoration: none;
    list-style: none;
}

/* beranda styling */
.beranda{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    color: #f9f9ff;
}
.beranda-content{
    justify-content: center;
    align-items: center; 
    display: flex;
}
    
.beranda-content div h1{
    font-family:  "Unbounded", sans-serif;
}
.beranda-content div p, h4{
    font-family: "Poppins", sans-serif;
}

/* tentang section */
.tentang{
    display: flex;
    justify-content: center;
    align-items: center; 
    color: #3C3C3C;
    height: 100vh;
    width: 200vh;
}

.tentang-content{
    display: flex;
    justify-content: center;
    align-items: center; 
}

/* kegiatan section */
.kegiatan{
    height: 100vh;
}

.kartu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.card{
    margin: 20px;
}

